* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #130f1e;

  display: grid;
  place-content: center;
  height: 100vh;
  gap: 16px;
}

.primary {
  --bg-default: #8257e5;
  --bg-hover: #9674e5;
}

.secondary {
  --bg-default: #3c3748;
  --bg-hover: #6a617f;
}

.tertiary {
  --bg-default: transparent;
  --bg-hover: transparent;
}
